* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background: #2F4F4F;
    font: normal 15pt Arial;
  
}

header {
    color: aliceblue;
    margin-top: 20px;
    text-align: center;
    transition: transform .4s;
    animation: fromBottom .7s backwards;
}


section {
    background: white;
    border-radius: 10px;

    padding: 15px;
    width: 500px;
    margin: 20px auto;
    line-height: 1.8;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

select#flista {
    width: 150px;
}

div {
    margin-top: 15px;
}

footer {
    color: aliceblue;
    text-align: center;
    font-style: italic;
}
