* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background: rgb(84, 162, 235);
    font: normal 15pt Arial;
  
}

header {
    color: aliceblue;
    margin-top: 20px;
    text-align: center;
    transition: transform .4s;
    animation: fromBottom .7s backwards;
}



section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 20px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    text-align: center;
    transition: top ease .8s;
    transition: transform .4s;
    animation: fromBottom .7s backwards;
}

div {
    margin-top: 15px;
}

#imagem {
   transition: top ease .8s;
   transition: transform .4s;
   animation: fromBottom .7s backwards;

}

#imagem:hover {
  transform: scale(1.1);
}

footer {
    color: aliceblue;
    text-align: center;
    font-style: italic;
}


@keyframes fromTop {
    0% {
        opacity: 0;
        transform: translateY(-30px);
        
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
        
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
